<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NAL MEDIA</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <center>
      <div class="container">
        <h2>Update Password</h2>
        <br />
        <%=message%><br /><br />
        <div>
          <form action="/profile/editPassword" method="POST">
            <input type="password" name="oldPass" placeholder="Old Password" required /><br /><br />
            <input type="password" name="newPass" placeholder="New Password" required /><br /><br />
            <input type="submit" value="Update Password" />
          </form>
        </div>
      </div>
      <br />
      <a href="/">Back to Dashboard!</a>
    </center>
  </body>
</html>
