<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NAL Media</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <center>
      <div class="container">
        <h2>Welcome To NAL Media</h2>
        <br />
        <div><a href="/signup">Sign up</a></div>
        <br />
        <div>
          <a href="/login">Login</a>
        </div>
      </div>
    </center>
  </body>
</html>
