<div class="container_footer w-container">
  <img src="/images/Image-from-iOS.png" width="114" alt="" class="image-11" />
  <div>
    <div class="w-layout-grid grid-32">
      <div id="w-node-4929e8d06fad-e8d06fa8" class="twittericon_footer">
        <a href="https://twitter.com/nal_media?lang=en" target="_blank" class="w-inline-block"
          ><img src="/images/23931.png" height="" width="20" alt="" class="image-30"
        /></a>
      </div>
      <div id="w-node-4929e8d06faf-e8d06fa8" class="ig-icon-footer">
        <a href="https://www.instagram.com/nal_media/" target="_blank" class="w-inline-block"
          ><img src="/images/logo-instagram.svg" width="22" alt="" class="image-31"
        /></a>
      </div>
      <div id="w-node-4929e8d06fb1-e8d06fa8" class="w-layout-grid grid-33">
        <a href="#" class="link-7">Diversity</a><a href="community.html" class="link-7">Community</a
        ><a href="/" class="link-7">Post A Job</a><a href="/" aria-current="page" class="link-7 w--current">Get Hired<br />‍</a>
      </div>
    </div>
  </div>
</div>
