<div class="w-container">
  <a href="/" class="brand-3 w-nav-brand"></a>
  <nav role="navigation" class="nav-menu-18 w-nav-menu">
    <a href="/" class="nav-link-10 w-nav-link">Profile</a><a href="/creative/jobs" class="nav-link-11 w-nav-link">View Listings</a
    ><a href="community.html" class="nav-link-12 w-nav-link">Community</a>
    <a href="/logout" class="nav-link-12 w-nav-link">Logout</a>
  </nav>
  <div class="menu-button-21 w-nav-button">
    <div class="icon-9 w-icon-nav-menu"></div>
  </div>
</div>
