<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creative Dashboard</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <center>
      <h3><%=message%></h3>
      <br />
      <div>
        <% jobs.forEach(record => {%>
        <div>
          <strong>Title:</strong><br />
          <%= record.info.title %><br />
          <a href="/creative/viewJob?id=<%=record.id%>">View Job</a>
        </div>
        <br /><br />
        <% })%>
      </div>
      <a href="/creative/dashboard">Back to Dashboard</a>
    </center>
  </body>
</html>
